

body {
  font-family: 'Cantarell', sans-serif;
  overflow-x: hidden;
}


.topBar {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: cover;
  padding: -10px;
  margin: -10px;
  overflow-x: hidden;

}

#banner {
  width: 100%;
  background-image: url(../images/Jacky28.3.jpg);
  background-position: center;
  background-repeat: no-repeat;

}

#index_background {
  background-image: url(../images/Jacky45.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}


.smaller {
  font-size: 17px;
}


/* a {
  text-decoration: none;
  color: white;
  box-shadow: none;
  border: none;
  line-height: initial;
} */

/* a:hover, a:focus, .topBarClass:hover, .topBarClass:focus  {
  color: white;
  text-decoration: none;
} */

.topBarClass {
  color: white;
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-flex;
  padding: 10px 70px 10px 40px;
  font-family: 'Cantarell', sans-serif;
  overflow-x: hidden;
  border-top: none;

}

.active > a, a:hover {
    background-color: rgba(200, 200, 200, 0.3);
    outline: medium none;
    text-decoration: none;
  }


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
    border: none;

  }

h1 {
color: white;
font-size: 60px;
text-align: left;
padding-top: -100px;
padding-left: 20px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

#titleJL {
  font-size: 100px;
}

#topBarJL {
  color: white;
  text-outline: white;
  text-shadow: 2px 2px 4px rgba(24, 1, 21, 0.7);
}

h3 {
  color: white;
  font-size: 25px;
  text-align: left;
  padding: 0 0 0 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/*#jacky1 {
  display: inline;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: auto;
  width: 10%;

} */
