body {
  font-family: 'Cantarell', sans-serif;
  overflow-x: hidden;
}

nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: space-around;
  top: 0;
}

nav {
  top: 0;
}

body, html {height: 100%}

#index_background {
  background-size: cover;
  background-image: url(../images/Jacky45.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  position:center;
}


#instagram_icon {
  width: 25px;
  padding: 0;
}

.aboutp {
  padding: 50px 0px 0px 0px;
  font-size: 18px;
}

.topBar {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: cover;
  padding: -10px;
  margin: -10px;
  overflow-x: hidden;
}

#banner {
  background-size: cover;
  background-image: url(../images/Jacky28.3.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.smaller {
  font-size: 17px;
}

.topBarClass {
  color: white;
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-flex;
  padding: 10px 70px 10px 40px;
  font-family: 'Cantarell', sans-serif;
  overflow-x: hidden;
  border-top: none;
}

.active > a, a:hover {
    background-color: rgba(200, 200, 200, 0.3);
    outline: medium none;
    text-decoration: none;
  }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
    border: none;
  }

h1 {
color: white;
font-size: 60px;
text-align: center;
padding-top: 0px;
padding-left: 20px;
text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
display: block;
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.abouth1 {
  color: black;
  text-shadow: none;
  font-size: 40px;
}

.aboutsmaller {
  font-size: 45px;
}

#titleJL {
  font-size: 100px;
  padding-top: 80px;
}

.titlesmaller {
  font-size: 80px;
}

#topBarJL {
  color: white;
  text-outline: white;
  text-shadow: 2px 2px 4px rgba(24, 1, 21, 0.7);
}

h3 {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 0 0 0 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
/* CUSTOMIZE THE PORTOFOLIO ----------*/
#portfolio_background {
  background-color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  /* #index_background {
    max-height: 100%;
    position: center; */
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.column img {
  transition: 1s;
  padding: 15px;
  width: 500px;
}

@media all and (min-width: 767px) {
.column img:hover {
  transform: scale(2);
}
.container2:hover {

transform: scale(2);
z-index: 10;

}

.container2 {
  position: relative;
  width: 100%;
  transition:  1s;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;


}

.container2:hover .overlay {
  opacity: 1;
}

.filmportfolio {
  width: 100%;
}

.text {
  color: white;
  font-size: 6px;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  /* text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.8); */
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {

    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
